/* body */
body, h1, h2, ul, li, a {
    margin: 0px;
    padding: 0;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffdfdf;
    padding: 100px;
}

header {
    background-color: #292929;
    color: white;
    text-align: center;
    padding: 10px;
}

/* sitemap buttons */

footer {
    background-color: #292929;
    color: white;
    text-align: center;
    padding: 10px;
}

#sitemap-buttons li {
    margin: 5px; 
}

.button {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.button.home-button {
    background-color: #ff8686;
    color: white;
    border: 2px solid #ff8686;
}

.button.github-repo-button {
    background-color: #ff8686;
    color: white;
    border: 2px solid #ff8686;
}

.button.create-button {
    background-color: #ffff00;
    color: black;
    border: 2px solid #ffff00;
}

.button.home-button:hover,
.button.github-repo-button:hover{
    background-color: rgb(255, 193, 193);
    color: white;
}

.button.create-button:hover {
    background-color: #ffffd6(255, 193, 193);
    color: rgb(187, 187, 187);
}

.button.create-course-button {
    background-color: #ff8686;
    color: white;
    border: 2px solid #ff8686;
}

.button.create-course-button:hover {
    background-color: rgb(255, 196, 196);
    color: rgb(255, 104, 104);
}

/* staff information */
.staff-info-container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px; 
  margin-bottom: 50px; 
}

.text-left {
    float: left;
    margin-right: 10px;
}

.no-bullets {
    list-style: none;
}

/* create course */
.create-course-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px; 
    margin-bottom: 50px; 
}

form label {
    display: block;
    text-align: left;
    width: 150px; 
    margin-right: 10px; 
}

form input[type="text"] {
    width: 250px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.form-group label {
    width: 150px; 
    text-align: right;
    margin-right: 10px; 
}

.form-group input {
    width: 100%; 
}

.error-messages {
    display: block;
    color: rgb(255, 99, 99);
    font-size: 14px;
    text-align: left;
    margin-top: 5px; 

}
